#rootPane {
    -fx-background-color: dash-panel-color;
}

#labelBenvenuto {
    -fx-font-size: 26.688px;
    -fx-font-weight: normal;
}

#labelNickname {
    -fx-font-size: 26.688px;
    -fx-font-weight: bold;
    -fx-text-fill: secondary-color;
}

#generalHealtPanel {
    -fx-background-color: primary-color;
    -fx-background-radius: 13.344px;
}

#labelStatusPlant {
    -fx-font-size: 26.688px;
    -fx-font-weight: normal;
}

#weatherPanel {
    -fx-background-color: primary-color;
    -fx-background-radius: 13.344px;
}

#labelTemperatura {
    -fx-font-size: 14px;
    -fx-font-weight: normal;
}

#labelGradi {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: secondary-color;
}

#labelUmidita {
    -fx-font-size: 14px;
    -fx-font-weight: normal;
}

#labelPerUmidita {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: secondary-color;
}

#labelVento {
    -fx-font-size: 14px;
    -fx-font-weight: normal;
}

#labelVelocitaVento {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: secondary-color;
}

#labelOrario {
    -fx-font-size: 26.688px;
    -fx-font-weight: normal;
}

#buttonLeft {
    -fx-text-fill: primary-color;
    -fx-font-weight: bold;
}

#buttonRight {
    -fx-text-fill: primary-color;
    -fx-font-weight: bold;
}

#chartsPanel {
    -fx-background-color: primary-color;
    -fx-background-radius: 13.344px;
    -fx-border-radius: 13.344px;
}

#scrollPane {
    -fx-background-color: primary-color;
}

.chart {
    -fx-background-color: primary-color;
    -fx-text-fill: text-color;
}

.chart-title {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

.chart-legend {
    -fx-text-fill: text-color;
    -fx-background-color: primary-color;
}

.axis {
    -fx-tick-label-fill: text-color;
}

#labelAvviso {
    -fx-font-size: 15px;
    -fx-font-weight: 500;
    -fx-text-fill: error-color;
}