* {
    primary-color: #E9FCE3;
    secondary-color: #139E2A;
    text-color: #0A3812;
    -fx-font-family: "Poppins", sans-serif;
    -fx-text-fill: text-color;
}

#labelRegistrati {
    -fx-font-size: 40.031px;
    -fx-font-weight: bold;
}

#labelDescrizione {
    -fx-font-size: 23.352px;
    -fx-font-weight: normal;
}

.text-field {
    -fx-border-radius: 23.352px;
    -fx-border-width: 1.668px;
    -fx-border-color: text-color;
    -fx-background-radius: 23.352px;
    -fx-padding: 14.678px 16.68px;
}

.text-field:focused {
    -fx-faint-focus-color: transparent;
    -fx-border-color: secondary-color;
}

#descriptionPanel {
    -fx-background-color: primary-color;
    -fx-background-radius: 13.843px;
}

#labelTitle1 {
    -fx-text-fill: secondary-color;
    -fx-font-size: 53.375px;
    -fx-font-weight: bold;
    -fx-text-alignment: center;
}

#labelTitle2 {
    -fx-font-size: 53.375px;
    -fx-font-weight: bold;
}

#labelDescrizone {
    -fx-font-size: 27.685px;
    -fx-font-weight: bold;
}

#buttonRegister {
    -fx-border-radius: 23.352px;
    -fx-background-radius: 23.352px;
    -fx-background-color: secondary-color;
    -fx-font-size: 20.016px;
    -fx-font-weight: bold;
    -fx-font-style: normal;
    -fx-font-family: "Poppins", sans-serif;
    -fx-text-fill: white;
}

#labelAccount {
    -fx-font-size: 13.344px;
    -fx-font-weight: 100;
}

#goToLogin {
    -fx-font-size: 13.344px;
    -fx-text-fill: secondary-color;
    -fx-font-weight: bold;
}