#root {
    -fx-background-radius: 13.344px;
    -fx-border-radius: 13.344px;
    -fx-border-width: 0.667px;
    -fx-border-style: dashed;
    -fx-border-color: secondary-color;
    -fx-background-color: dash-panel-color;
}

#labelAggiungi {
    -fx-font-size: 13.344px;
    -fx-font-weight: bold;
    -fx-text-fill: text-color;
}