* {
    primary-color: #4A6E4A;
    secondary-color: #139E2A;
    text-color: #F5F5F5;
    error-color: red;
    secondary-button-color: #ec7171;
    secondary-text-color: white;
    dash-panel-color: #1C2A1C;
    -fx-font-family: Poppins, System;
    -fx-text-fill: text-color;
}