* {
    primary-color: #E9FCE3;
    secondary-color: #139E2A;
    text-color: #0A3812;
    error-color: red;
    -fx-font-family: "Poppins", sans-serif;
    -fx-text-fill: text-color;
}



#labelBenvenuto {
    -fx-font-size: 26.688px;
    -fx-font-weight: normal;
}

#labelNickname {
    -fx-font-size: 26.688px;
    -fx-font-weight: bold;
    -fx-text-fill: secondary-color;
}

#generalHealtPanel {
    -fx-background-color: primary-color;
    -fx-background-radius: 13.344px;
}

#labelStatusPlant {
    -fx-font-size: 26.688px;
    -fx-font-weight: normal;
}

#weatherPanel {
    -fx-background-color: primary-color;
    -fx-background-radius: 13.344px;
}

#labelTemperatura {
    -fx-font-size: 14px;
    -fx-font-weight: normal;
}

#labelGradi {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: secondary-color;
}

#labelUmidita {
    -fx-font-size: 14px;
    -fx-font-weight: normal;
}

#labelPerUmidita {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: secondary-color;
}

#labelVento {
    -fx-font-size: 14px;
    -fx-font-weight: normal;
}

#labelVelocitaVento {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: secondary-color;
}

#labelOrario {
    -fx-font-size: 26.688px;
    -fx-font-weight: normal;
}

#buttonLeft {
    -fx-text-fill: primary-color;
    -fx-font-weight: bold;
}

#buttonRight {
    -fx-text-fill: primary-color;
    -fx-font-weight: bold;
}

#chartsPanel {
    -fx-background-color: primary-color;
    -fx-background-radius: 13.344px;
    -fx-border-radius: 13.344px;
}

#scrollPane {
    -fx-background-color: primary-color;
}

.chart {
    -fx-background-color: primary-color;
    -fx-text-fill: text-color;
}

.chart-title {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

#labelAvviso {
    -fx-font-size: 15px;
    -fx-font-weight: 500;
    -fx-text-fill: error-color;
}