#rootPane {
    -fx-background-color: dash-panel-color;
}

#labelTitolo {
    -fx-font-size: 26.688px;
    -fx-font-weight: 400;
}

#buttonExport {
    -fx-background-color: secondary-color;
    -fx-text-fill: secondary-text-color;
    -fx-font-weight: bold;
    -fx-font-size: 20px;
    -fx-border-radius: 23.352px;
    -fx-background-radius: 23.352px;
}

.combo-box {
    -fx-border-radius: 17.295px;
    -fx-background-radius: 17.295px;
    -fx-font-size: 16px;
    -fx-border-color: text-color;
    -fx-text-fill: secondary-text-color;
    -fx-background-color: secondary-text-color;
}

.combo-box-popup .list-view {
    -fx-background-color: primary-color;
    -fx-border-radius: 17.295px;
    -fx-background-radius: 17.295px;
}

.combo-box .list-cell {
    -fx-background-color: primary-color;
    -fx-border-radius: 17.295px;
    -fx-background-radius: 17.295px;
    -fx-text-fill: text-color;
}

.combo-box .list-cell:hover {
    -fx-background-color: secondary-color;
    -fx-text-fill: secondary-text-color;
}

.combo-box .list-cell:selected {
    -fx-background-color: secondary-color;
    -fx-text-fill: secondary-text-color;
}

#datePicker {
    -fx-border-radius: 17.295px;
    -fx-background-radius: 17.295px;
    -fx-border-color: text-color;
    -fx-background-color: secondary-color;
    -fx-text-fill: secondary-text-color;
}

.date-picker .arrow-button {
    -fx-background-color: secondary-color;
    -fx-border-radius: 17.295px;
    -fx-background-radius: 17.295px;
}

.date-picker .arrow-button .arrow {
    -fx-background-color: secondary-text-color;
}

.date-picker .cell {
    -fx-background-color: primary-color;
    -fx-text-fill: text-color;
}

.date-picker .cell:hover {
    -fx-background-color: secondary-color;
    -fx-text-fill: secondary-text-color;
}

.date-picker .selected {
    -fx-background-color: secondary-color;
    -fx-text-fill: secondary-text-color;
}

.date-picker .text-field {
    -fx-background-color: secondary-color;
    -fx-border-radius: 17.295px;
    -fx-background-radius: 17.295px;
    -fx-border-color: transparent;
    -fx-text-fill: secondary-text-color;
}

.date-picker .text-field:empty {
    -fx-prompt-text-fill: secondary-text-color;
}

.chart {
    -fx-background-color: primary-color;
}

.chart-title {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

.chart-legend {
    -fx-text-fill: text-color;
    -fx-background-color: primary-color;
}

.axis {
    -fx-tick-label-fill: text-color;
}

#labelAvviso {
    -fx-font-size: 25px;
    -fx-font-weight: 500;
    -fx-text-fill: error-color;
}
