* {
    primary-color: #E9FCE3;
    secondary-color: #139E2A;
    text-color: #0A3812;
    error-color: red;
    -fx-font-family: "Poppins", sans-serif;
    -fx-text-fill: text-color;
}

#frameInformativo {
    -fx-background-color: primary-color;
    -fx-background-radius: 13.843px;
}

#labelInformativa{
    -fx-font-size: 27.685px;
    -fx-font-weight: bold;
    -fx-text-alignment: center;
    -fx-line-spacing: 0px;
}

#titoloApp {
    -fx-text-fill: secondary-color;
    -fx-font-size: 53.375px;
    -fx-font-weight: bold;
    -fx-text-alignment: center;
}

#titoloApp2 {
    -fx-font-size: 53.375px;
    -fx-font-weight: bold;
}

#labelB {
    -fx-font-size: 40.031px;
    -fx-font-weight: bold;
}

#labelSottoTesto {
    -fx-font-size: 23.352px;
    -fx-font-weight: normal;
}

#emailField {
    -fx-border-radius: 23.352px;
    -fx-border-width: 1.668px;
    -fx-border-color: text-color;
    -fx-background-radius: 23.352px;
    -fx-prompt-text-fill: text-color;
    -fx-padding: 14.678px 16.68px;
    -fx-font-family: "Poppins", sans-serif;
}

#emailField:focused {
    -fx-faint-focus-color: transparent;
    -fx-border-color: secondary-color;
}

#passwordField {
    -fx-border-radius: 23.352px;
    -fx-border-width: 1.668px;
    -fx-border-color: text-color;
    -fx-background-radius: 23.352px;
    -fx-prompt-text-fill: text-color;
    -fx-padding: 14.678px 16.68px;
    -fx-font-family: "Poppins", sans-serif;
}

#passwordField:focused {
    -fx-faint-focus-color: transparent;
    -fx-border-color: secondary-color;
}

#labelPassDimenticata {
    -fx-font-size: 13.344px;
    -fx-font-weight: 100;
    -fx-text-fill: secondary-color;
}

#buttonAccedi {
    -fx-border-radius: 23.352px;
    -fx-background-radius: 23.352px;
    -fx-background-color: secondary-color;
    -fx-font-size: 20.016px;
    -fx-font-weight: bold;
    -fx-font-style: normal;
    -fx-font-family: "Poppins", sans-serif;
    -fx-text-fill: white;
}

#infoRegister {
    -fx-font-size: 13.344px;
    -fx-font-weight: 100;
}

#labelRegistrati {
    -fx-font-size: 13.344px;
    -fx-text-fill: secondary-color;
    -fx-font-weight: bold;
}

#labelAvviso {
    -fx-font-size: 20px;
    -fx-font-weight: 500;
    -fx-text-fill: error-color;
}

