#rootPane {
    -fx-background-color: dash-panel-color;
}

#labelTitolo {
    -fx-font-size: 26.688px;
}

#searchBar {
    -fx-background-radius: 26.271px;
    -fx-border-radius: 26.757px;
    -fx-border-color: secondary-color;
    -fx-font-size: 19.11px;
}

#searchBar:focused {
    -fx-faint-focus-color: transparent;
    -fx-border-color: secondary-color;
}

#boxButtons {
    -fx-spacing: 5px;
}

.toggle-button {
    -fx-background-color: primary-color;
    -fx-background-radius: 26.757px;
    -fx-border-radius: 26.757px;
    -fx-font-size: 19.11px;
}

.toggle-button:selected {
    -fx-background-color: secondary-color;
    -fx-text-fill: secondary-text-color;
}

.scroll-pane {
    -fx-background-color: dash-panel-color;
}

.scroll-pane:selected {
    -fx-border-color: dash-panel-color;
}

.scroll-pane .scroll-bar {
    -fx-background-color: dash-panel-color;
    -fx-pref-width: 0;
}

.scroll-pane .scroll-bar .thumb {
    -fx-background-color: secondary-color;
    -fx-background-radius: 5px;
}

#boxButtons {
    -fx-background-color: dash-panel-color;
    -fx-padding: 7px 0px 7px 1px;
}

#searchPlant {
    -fx-background-color: primary-color;
    -fx-background-radius: 26.271px;
    -fx-border-radius: 26.757px;
}

#searchPlant:focused {
    -fx-faint-focus-color: transparent;
    -fx-border-color: secondary-color;
}

#buttonAddPlant {
    -fx-background-color: primary-color;
    -fx-background-radius: 26.271px;
    -fx-border-radius: 26.757px;
}

#labelAdd {
    -fx-font-size: 22px;
}

#labelAvviso {
    -fx-font-size: 20px;
    -fx-font-weight: 500;
    -fx-text-fill: error-color;
}

#labelPiante {
    -fx-font-size: 32px;
    -fx-text-fill: text-color;
    -fx-font-weight: bold;
}

#ancorScroll {
    -fx-background-color: dash-panel-color;
}

#scrollPiante {
    -fx-background-color: dash-panel-color;
}
