#rootPane {
    -fx-background-color: primary-color;
    -fx-border-radius: 13.34px;
    -fx-background-radius: 13.34px;
}

#labelPlantName {
    -fx-font-size: 15px ;
    -fx-font-weight: bold;
}

#labelMyPlantName {
    -fx-font-size: 27px ;
    -fx-font-weight: bold;
}

#labelAvviso {
    -fx-font-size: 10px;
    -fx-font-weight: 500;
    -fx-text-fill: error-color;
}

#iconCircle {
    -fx-fill: primary-color;
}