#rootPane {
    -fx-background-color: dash-panel-color;
}

#labelNomePianta {
    -fx-text-fill: secondary-color;
    -fx-font-size: 40.031px;
    -fx-font-weight: normal;
}
#labelPosizionePianta{
    -fx-font-size: 40.031px;
    -fx-font-weight: normal;
}

#progressBar {
    -fx-accent: secondary-color;
    -fx-control-inner-background: text-color;
}

#labelPercentuale {
    -fx-text-fill: primary-color;
    -fx-font-size: 25px;
    -fx-font-weight: bold;
}

#labelAvviso {
    -fx-text-fill: error-color;
    -fx-font-size: 25px;
    -fx-font-weight: 500;
}