#rootPane {
    -fx-background-color: primary-color;
    -fx-border-radius: 13.34px;
    -fx-background-radius: 13.34px;
}

#circleIcon {
    -fx-fill: primary-color;
}

#labelValore {
    -fx-font-size: 19px;
    -fx-font-weight: normal;
}

#labelNomeSensore {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

#labelAlert {
    -fx-font-size: 19px;
    -fx-font-weight: 500;
}

#labelAvviso {
    -fx-font-size: 10px;
    -fx-font-weight: 500;
    -fx-text-fill: error-color;
}